<ion-header>
  <ion-navbar>
    <ion-title>YouLike App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="pane">
  <h2>New User Registration</h2>

<form (ngSubmit)="addUser()" class="form">
  <ion-item>
    <ion-label color="primary" stacked>Username</ion-label>
    <ion-input required minlength="6" maxlength="24" class="inputField" required placeholder="Please enter username"
     [(ngModel)]="username" name="username" (input)="userLength()"></ion-input>
  </ion-item>
  
  <div *ngIf="usernameLength < 6 && !firstLoadUsername" class="error">
     Username is too short
    </div>

 <div *ngIf="usernameAlreadyExists" class="error">
     <img src="/assets/redX.svg" class="redX"/>
     Username Already exists!
    </div>

    <ion-item>
    <ion-label color="primary"stacked>Password</ion-label>
    <ion-input class="inputField" required minlength="6" maxlength="24" type="password" placeholder="Please enter password" 
    [(ngModel)]="password" name="password" (input)="passLength()"></ion-input>
  </ion-item>
 
  <div *ngIf="passwordLength < 6 && !firstLoadPassword" class="error">
     Password is too short
    </div>

    <ion-item>
    <ion-label color="primary" stacked>Repeat Password</ion-label>
    <ion-input class="inputField" required minlength="6" maxlength="24" type="password" placeholder="Please enter password again" 
    [(ngModel)]="passwordRep" name="passwordRep" (input)="passRepLength()"></ion-input>
  </ion-item>
 
  <div *ngIf="repPassIsDifferent && !firstLoadPasswordRep" class="error">
     <img src="/assets/redX.svg" class="redX"/>
     Passwords don't match!
    </div>

    <ion-item>
    <ion-label color="primary" stacked>Birth Date</ion-label>
    <ion-input class="inputField" required minlength="6" maxlength="24" type="date" displayFormat="YYYY/M/D" placeholder="Please enter your birthdate" 
    [(ngModel)]="birthdate" name="birthdate" (input)="birthdateCheck()"></ion-input>
  </ion-item>
 
  <div *ngIf="!validDate && !firstLoadBirthdate" class="error">
     Birthdate must be before today!
    </div>

    <ion-item>
    <ion-label color="primary" stacked>First Name</ion-label>
    <ion-input class="inputField" required minlength="3" maxlength="24" type="text" placeholder="Please enter your first name" 
    [(ngModel)]="firstName" name="firstName" (input)="firstNameLengthCheck()"></ion-input>
  </ion-item>
 
  <div *ngIf="firstNameLength < 3 && !firstLoadFirstName" class="error">
     First name is too short
    </div>

    <ion-item>
    <ion-label color="primary" stacked>Last Name</ion-label>
    <ion-input class="inputField" required minlength="3" maxlength="24" type="text" placeholder="Please enter your last name" 
    [(ngModel)]="lastName" name="lastName" (input)="lastNameLengthCheck()"></ion-input>
  </ion-item>

  <div *ngIf="lastNameLength < 3 && !firstLoadLastName" class="error">
     Last name is too short
    </div>

  <ion-item>
    <ion-label color="primary" stacked>City</ion-label>
    <ion-input class="inputField" required minlength="3" maxlength="24" type="text" placeholder="Please enter city" 
    [(ngModel)]="city" name="city" (input)="cityLengthCheck()" ></ion-input>
  </ion-item>
 
  <div *ngIf="cityLength < 3 && !firstLoadCity" class="error">
     City is too short
    </div>

      <ion-item>
    <ion-label color="primary" stacked>Country</ion-label>
    <ion-input class="inputField" required minlength="3" maxlength="24" type="text" placeholder="Please enter country" 
    [(ngModel)]="country" name="country" (input)="countryLengthCheck()" ></ion-input>
  </ion-item>
 
 <div *ngIf="countryLength < 3 && !firstLoadCountry" class="error">
     Country is too short
    </div>

 <button ion-button block type="submit" [disabled]="isInvalid()">Submit</button>
   </form>

</ion-content>