<ion-header>
  <ion-navbar>
    <ion-title>YouLike App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="pane">
  <h2>Welcome to YouLike!

  <button ion-button round type="register" class="register" align="right" (click)="pushPage()" >Register</button></h2>
   <br><br> <br><br>  <br><br>  <br><br>
  <form (ngSubmit)="credentialForm()" class="form">
  <ion-item>
    <ion-label color="primary">Username</ion-label>
    <ion-input required minlength="6" maxlength="24" class="inputField" required placeholder="Please enter username"
     [(ngModel)]="username" name="username" (input)="userLength()"></ion-input>
  </ion-item>
  
  <div *ngIf="usernameLength < 6 && !firstLoadUsername" class="error">
     Username is too short
    </div>
 
    <ion-item>
    <ion-label color="primary">Password</ion-label>
    <ion-input class="inputField" required minlength="6" maxlength="24" type="password" placeholder="Please enter password" 
    [(ngModel)]="password" name="password" (input)="passLength()"></ion-input>
  </ion-item>
 
  <div *ngIf="passwordLength < 6 && !firstLoadPassword" class="error">
     Password is too short
    </div>

 <button ion-button block type="submit" [disabled]="isInvalid()">Enter</button>
   </form>
<p class="logged">
{{ firstname }} {{ lastname }}
<p>
<p class="error">
{{ errormessage }}
</p>
</ion-content>
