 .moviegenre {
        background: url('../assets/movies.jpeg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
     
    }
.label_wrapper {
    position: relative;
    display: block;
    left: 39%;
    width: 400px;
}

h2 {
    color: "primary";
    text-shadow: 3px 3px 3px white;
}