 .movies {
        background: url('../assets/movies.jpeg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover; 
    }
.books {
        background: url('../assets/books.jpeg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover; 
    } 
.music {
        background: url('../assets/music.jpeg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover; 
    } 

h2 {
    color: "primary";
    text-shadow: 3px 3px 3px white;
}
.movies_wrapper {
    background: url('../assets/movies.jpeg') fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover; 
    position: relative;
    display: block;
}
.music_wrapper {
    background: url('../assets/music.jpeg') fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover; 
    position: relative;
    display: block;
}
.books_wrapper {
    background: url('../assets/books.jpeg') fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover; 
    position: relative;
    display: block;
}
.footer {
    position:absolute;
}